---
// Remove current path trailing slash
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get URL array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// Handle breadcrumb for home page
const breadcrumbs = breadcrumbList.length
  ? [
      { text: "Home", href: "/" },
      ...breadcrumbList.map((breadcrumb, index) => ({
        text: breadcrumb.charAt(0).toUpperCase() + breadcrumb.slice(1),
        href: `/${breadcrumbList.slice(0, index + 1).join("/")}`,
      })),
    ]
  : [];
---

<nav class="breadcrumb" aria-label="breadcrumb">
  <ul class="flex items-center gap-2 text-sm text-skin-base opacity-80">
    {
      breadcrumbs.map((breadcrumb, index) => (
        <li class="flex items-center">
          <a href={breadcrumb.href} class="hover:text-skin-accent">
            {breadcrumb.text}
          </a>
          {index < breadcrumbs.length - 1 && (
            <div class="flex items-center">
              <span class="ml-2 opacity-60">»</span>
            </div>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .breadcrumb {
    @apply mb-6 mt-4;
  }
  .breadcrumb ul li a {
    @apply capitalize opacity-70 hover:opacity-100;
  }
</style>
